h1 {
  font-size: 1em;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
  font-variant: small-caps;

  margin-top: 1em;
}

h3 {
  font-size: 1em;
  font-weight: 600;
  font-variant: small-caps;
  margin-top: 0.5em;
}