<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Food Journal</title>
  <link rel="stylesheet" href="/assets/style/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/nyi5enn.css">
</head>
<body class="{{template}}">
  <div class="content-container">
    <header>
      <h1><a href="/">Food Journal</a></h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </div>
</body>
</html>
